.button {
	@extend %transition;
	color: #fff;
	margin-bottom: 0;
	&.larger {
		padding: rem-calc(0 28);
		height: 3.75rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.icon {
		display: inline-block;
		vertical-align: middle;
		font-style: normal;
		font-size: 1.15rem;
		&-left {
			margin-right: rem-calc(6);
		}
		&-right {
			margin-left: rem-calc(6);
		}
	}
	
	// Colors
	&-gray {
		background-color: darken(#fff, 10%);
		color: $content-color;
		&:hover {
			background-color: darken(#fff, 20%);
			color: $content-color;
		}
	}
}