.editor {
	height: 100%;
	&-aside-entry {
		width: 300px;
		background-color: $aside-bg;
	}
	&-main-entry {
		header {
			background-color: darken(#fff, 5%);
			.menu {
				height: $editor-entry-header-height;
				margin: 0 (2.5rem - 0.625rem);
				.icon {
					color: darken($main-color, 15%);
					font-size: 1.25rem;
					margin: 0 0.625rem;
					padding: 0;
					&:hover {
						color: darken($main-color, 25%);
					}
				}
			}
		}
		main {
			padding: rem-calc(40);
		}
	}
	&-aside-entry,
	&-main-entry {
		height: 100%;
		max-height: 100%;
		overflow-y: auto;
		header {
			height: $editor-entry-header-height;
			.button {
				margin-bottom: 0;
				color: #fff !important;
			}
		}
	}

	// Constructor
	&-constructor {
		background-color: darken(#fff, 10%);
		padding: 10px;
		border: 1px solid darken(#fff, 20%);
		margin-bottom: $global-margin;
		.add-element {
			border: $main-color dashed 2px;
			min-height: 40px;
			position: relative;
		}
		.icons {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			text-align: center;
			font-size: 150%;
			@extend %transition;
			i {
				color: lighten($content-color, 20%);
				cursor: pointer;
				&:hover {
					color: darken($main-color, 20%);
				}
				&.icon-delete {
					@extend .icon-delete;
					margin-left: 10px;
				}
			}
		}
	}
	&-component {
		border: $main-color solid 2px;
		margin-top: $global-margin !important;
		padding: 10px;
	}
}

.email-list {
	margin: 0;
	&__article {
		border-bottom: darken($aside-bg, 3%) solid 1px;
		margin-bottom: 0;
		&-item {
			padding: 20px;
		}
		&-title {
			margin-bottom: 0;
		}
		&.edited-now {
			background-color: darken(#fff, 2%);
			a {
				color: $content-color;
			}
		}
	}
	.date {
		padding-top: 4px;
		line-height: 1;
		font-size: rem-calc(12);
	}
}

.component-selector {
	margin-top: $global-margin * 3;
	width: 100%;
	ul {
		margin-bottom: 0;
		li {
			text-align: center;
			margin-bottom: 0;
			a {
				color: $content-color;
			}
			i {
				color: $main-color;
				font-size: 24px;
			}
		}
	}
}

.text-input {
	@extend textarea !optional;
	height: 240px;
}