html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: $main-bg;
	color: $main-color;
	font: 300 1rem/1.625 "Circe", sans-serif;
}

a {
	color: $main-color;
	@extend %transition;
	&:hover {
		color: #fff;
	}
}

#app {
	background-color: $content-bg;
	color: $content-color;
}

#logo {
	font-size: rem-calc(24);
	font-weight: bold;
}

.content {
	a {
		color: inherit;
		&:hover {
			color: $blue;
		}
	}
}

.layout {
	height: calc(100vh - 40px);
	overflow: hidden;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darken(#fff, 10%);
	color: $main-color;
	height: 100%;
}

.title {
	mark {
		font-size: 1rem;
		vertical-align: middle;
	}
}

.callout-image {
	height: 300px;
}

.container {
	padding: 20px;
}

.forgot-password {
	margin-left: 10px;
}

.logout {
	.icon {
		color: $blue;
		font-size: 80%;
	}
}

.errors {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 280px;
	padding: 20px;
	background-color: $red;
	color: #fff;
	text-shadow: 0 1px darken($red, 10%);
	line-height: 1.25;
}

svg {
	display: inline-block;
	vertical-align: middle;
}

mark {
	background-color: $blue;
	color: #fff;
	padding: 0 0.35em;
}

ul, ol, dl {
	line-height: inherit;
	li {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}