$main-color: #babbc2;
$content-color: #2b2b2f;

$main-bg: #1d2135;
$content-bg: #fff;
$aside-bg: #282c40;

$blue: #4378eb;
$red: #f4645f;

$editor-entry-header-height: 60px;

%transition {
	transition: 0.35s ease-in-out;
}